<% @chatrooms.each do |chatroom| %>
  <div>
    <h3>Chat with <%= chatroom.receiver == current_user ? chatroom.creator.first_name : chatroom.receiver.first_name %></h3>
    <%= link_to "Enter Chatroom", chatroom_path(chatroom) %>
  </div>
<% end %>
