<div class="container mt-5">
  <h1>Find your new language buddy</h1>

  <div class="buddies-container">
    <% @users.each do |user| %>
      <div class="buddy-card">

        <h2><%= user.first_name %></h2>

      </div>
    <% end %>

  </div>

</div>
