<div class="landing-page">
  <section id="hero">
    <div class="content">
      <h1>Welcome to DreamTalk: Your Language Learning Journey Begins</h1>
      <p>Discover a world of language exchange where you can connect with people near you and learn together through engaging conversations and video calls</p>
      <%= link_to "Get Started", new_user_session_path, class: "cta" %>
    </div>
  </section>

  <section id="unlock">
    <div class="content">
      <h2>Unlock Your Potential</h2>
      <p>At DreamTalk, we believe that language learning is best achieved through authentic conversations and cultural immersion</p>
      <%= link_to "Join Now", new_user_session_path, class: "cta" %>
    </div>
    <img src="./images/unlock-bg.png" alt="Unlock your potential">
  </section>

  <section id="our-mission">
    <div class="content">
      <h2>Our Mission</h2>
      <p>At the heart of DreamTalk lies our commitment to fostering meaningful connections and empowering language learners to achieve their goals through collaborative exchanges</p>
    </div>
    <img src="./images/our-mission-bg.png" alt="Our Mission">
  </section>

  <section id="users">
  <div class="content">
      <h2>Your Language Learning Companions</h2>
      <p>At DreamTalk, we believe that the best way to learn a language is through authentic, face-to-face interactions.
      Our app connects you with native speakers in your local community,
       allowing you to practice your language skills in real-time and gain invaluable cultural insights</p>
    </div>

    <div class="avatar-row">
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
      <div class="landing-avatar"></div>
    </div>
  </div>
  </section>

  <footer>
  <%# FOOTER %>
  </footer>
</div>
