<div class="landing-page">
  <section id="hero">
    <div class="content">
      <h1>Welcome to DreamTalk: Your Language Learning Journey Begins</h1>
      <p>Discover a world of language exchange where you can connect with people near you and learn together through engaging conversations and video calls</p>
      <a class="cta href="">Get Started</a>
    </div>
  </section>

  <section id="unlock">
    <div class="content">
      <h2>Unlock Your Potential</h2>
      <p>At DreamTalk, we believe that language learning is best achieved through authentic conversations and cultural immersion</p>
      <a class="cta href="">Join Now</a>
    </div>
    <img src="./images/unlock-bg.png" alt="Unlock your potential">
  </section>

  <section id="our-mission">
    <div class="content">
      <h2>Our Mission</h2>
      <p>At the heart of DreamTalk lies our commitment to fostering meaningful connections and empowering language learners to achieve their goals through collaborative exchanges</p>
    </div>
    <img src="./images/our-mission-bg.png" alt="Our Mission">
  </section>

  <section>
  section4
  </section>

  <section>
  section5
  </section>

  <footer>
  footer
  </footer>
</div>

<style>
  .landing-page {
    background-color: var(--background);

    a.cta {
      font-family: inherit;
      font-weight: bold;
      background-color: var(--accent);
      color: white;
      padding: 8px 16px;
      border-radius: 20px;
      text-decoration: none;
    }

    #hero {
      width: 100%;
      aspect-ratio: 4/3;
      background-image: url('./images/hero-bg.png');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;

      .content {
        width: 60%;
        color: white;
        text-align: center;
      }

      h1 {
        margin-top: 32px;
        font-family: Hanuman;
      }

      p {
        margin: 0 0 32px;
        font-family: Spectral;
      }
    }

    #unlock {
      padding: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .content, img {
        width: 50%;
      }

      a.cta {
        background-color: var(--primary);
      }
    }

    #our-mission {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .content {
        width: 65%;
      }

      img {
        width: 50%;
      }
    }
  }
</style>
