/* buddies-container styles */
.buddies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.buddy-card {
  display: flex;
  // flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 500px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
  }

  p {
    margin: 5px 0;
    font-size: 1em;
  }

  .view-button {
    background-color: bisque;
  }

  .favorite-star {
    margin-left: 10px;
    font-size: 20px;
    color: #d3d3d3;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #ffa500;
    }

    &.active {
      color: #ffd700;
    }
  }
}

.buddy-card .avatar {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  background-color: #ddd;
}
