@mixin form-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  &:focus {
    border-color: #b75195;
    outline: none;
    box-shadow: 0 0 8px #b75195;
  }
}

.profile-container {
  max-width: 600px;
  margin: auto;
  // background-color: #fcf7fa;
  padding: 20px;
  // border-radius: 10px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    text-align: center;
  }

  section {
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
      color: #b75195;
      border-bottom: 2px solid #b75195;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  }

  .py-1 {


    label {
      font-size: 14px;
      margin-bottom: 5px;
      display: block;
    }

    input[type="text"], input[type="file"], textarea {
      @include form-field;
      background-color: white;
    }

    textarea {
      min-height: 100px;
    }
  }

  .btn-success {
    padding: 10px 20px;
    color: #d6c79c;
    background-color: #b75195;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .profile-picture {
    margin-bottom: 15px;


    .essais {
      border: 2px solid #b75195;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: darken(#b75195, 10%);
      }
    }

  }
}
