// Colors
$color-text: #130810;
$color-bg: #fcf7fa;
$color-primary: #b75195; // Sent message color
$color-secondary: #d6c79c; // Received message color
$color-accent: #b8ca7f;

// Chat Container Styling
.chat-container {
  color: $color-text;
  background-color: $color-bg;
  padding: 1rem;
  max-width: 100%;
  border-radius: 0.5rem;
}

// Chat Title
.chat-title {
  color: $color-primary;
  font-size: 1.5rem;
  font-weight: bold;
}

// Message Box
.message-box {
  max-height: 300px;
  overflow-y: auto;
  padding: 1rem;
  background-color: $color-bg;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

// Message Wrapper
.message-wrapper {
  display: flex;
  margin-bottom: 0.5rem;

  // Align sent messages to the right
  &.message-sent {
    justify-content: flex-end;
  }

  // Align received messages to the left
  &.message-received {
    justify-content: flex-start;
  }
}

// Message Bubble
.message-bubble {
  max-width: 70%;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  color: $color-text;
  position: relative;

  // Sent Message Styling
  &.message-sent {
    background-color: $color-accent;
    color: #fff;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0.25rem;
  }

  // Received Message Styling
  &.message-received {
    background-color: $color-secondary;
    color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0.25rem;
  }
}

// Message Form
.message-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .input-group {
    flex-grow: 1;
  }

  .message-input {
    border: 1px solid $color-primary;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .send-button {
    background-color: $color-primary;
    color: $color-bg;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
}

// Chat Header Styling
.chat-header {
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: $color-bg;
  // border-bottom: 1px solid $color-secondary;

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-photo,
    .profile-picture {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-name {
      font-size: 1rem;
      color: $color-primary;
      margin-top: 0.5rem;
    }
  }

  .video-call-icon,
  .call-icon-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: $color-accent;
    margin-top: 5px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: darken($color-accent, 15%);
    }
  }
}
