#messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Messages du current_user alignés à droite */
.current-user {
  background-color: #FF5733; /* Orange pour le current_user */
  color: #ffffff;
  align-self: flex-end;
  border-bottom-right-radius: 0;
  text-align: right;
}

/* Messages du receiver alignés à gauche */
.message:not(.current-user) {
  background-color: #68d391; /* Vert/turquoise pour le receiver */
  color: #ffffff;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}
